/* Reset css */
#bd,
::before,
::after {
    box-sizing: border-box;
}

body#bd {
    font-size: 16px;
}

/* ============================================================ */

/* MT Header */
.header1 {
    display: none;
}

.header2 .main2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* MT Logo */
.logo {
    display: flex;
    align-items: center;
    line-height: 1;
    color: #000;
    font-size: 10px;
    text-decoration: none;
}

.logo__title {
    padding-right: 5px;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
}

.logo__info {
    padding-left: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.logo__sub-title {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
}

/* MT Search */
.module_search,
.k2SearchBlockForm {
    display: flex;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
}

.module_search .inputbox,
.k2SearchBlockForm .inputbox {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    color: #333;
    background: transparent;
    font-weight: 400;
    font-size: 100%;
    font-family: inherit;
}

.module_search .inputbox:hover,
.k2SearchBlockForm .inputbox:hover {
    background: transparent;
}

.module_search .button,
.k2SearchBlockForm .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 48px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    color: #666;
    background: transparent;
    font-size: 100%;
}

.module_search .button:hover,
.k2SearchBlockForm .button:hover {
    color: #000;
}

.module_search select,
.k2SearchBlockForm select {
    display: none;
}

/* MT Quick Cart */
.Bquickcart {
    font-size: 10px;
}

.Bquickcart .cart_dropdown_trong {
    position: relative;
    display: block;
    line-height: 1;
}

.Bquickcart i {
    width: auto;
    line-height: 1;
    padding-right: 0.2em;
    color: #000;
    background: none;
    font-size: 2.4em;
}

.Bquickcart strong {
    position: absolute;
    top: -0.4em;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.1;
    border-radius: 50%;
    color: #fff;
    background: #f00;
}

.Bquickcart td:last-child {
    padding-left: 0;
}

.Bquickcart td:last-child div:first-child,
.Bquickcart td:last-child div:last-child span {
    display: none;
}

/* MT Menungang */
#ja-menungang {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    background: #007fc2;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

#ja-menungang .main2 {
    display: flex;
    align-items: center;
}

#ja-menungang .level0 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#ja-menungang .menu a {
    font-size: 100%;
    text-transform: uppercase;
}

#ja-menungang .level0 > li > a {
    padding: 20px 15px;
    font-weight: 500;
}

#ja-menungang .level0 > li:first-child > a {
    padding-left: 0;
}

#ja-menungang .level0 > li:hover > a,
#ja-menungang .level0 li.active > a {
    color: #ff0;
}

#ja-menungang .level0 ul {
    top: 100%;
    display: block;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.1);
    transform: translateX(-20px);
    transition-duration: 0.25s;
    transition-property: opacity, visibility, transform;
}

#ja-menungang .menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

#ja-menungang .menu ul a {
    padding: 6px 20px;
    font-size: 100%;
    font-weight: 500;
    text-transform: initial;
}

#ja-menungang .menu ul a:hover,
#ja-menungang .menu ul li:hover > a {
    color: #007fc2;
    background: transparent;
}

#ja-menungang .menu ul ul {
    top: 0;
}

#ja-menungang .menu > .deeper > a:after {
    font-size: 80%;
}

/* MT Heading */
#ja-extra .workshome-title > *,
#ja-chantrang .workshome-title > *,
#ja-noidunggiua .workshome-title > * {
    color: #333;
    font-weight: 600;
    font-family: inherit;
}
