#ja-cotgiua .title-product {
    margin-bottom: 10px;
}
#ja-cotgiua .title-product > * {
    font-size: 150%;
    text-align: left;
    text-transform: initial;
}
#ja-cotgiua .title-product > *::after {
    content: none;
}
