.header2_2 .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.header2_2 .menu a {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: auto auto;
    column-gap: 14px;
    align-items: center;
    font-size: 87.5%;
    pointer-events: none;
}

.header2_2 .menu img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.header2_2 .image-title {
    grid-column: 2 / 3;
    font-weight: 700;
}

.header2_2 .menu-desc {
    grid-column: 2 / 3;
}
