#itemListLeading,
.trangtimkiem .itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.trangtimkiem .catItemExtraFields {
    display: none;
}

.componentheading_timkiem {
    margin-bottom: 20px;
}

.itemContainer {
    margin: 0;
    height: 100%;
}

.itemListView .itemContainer {
    animation: initial;
}

.catItemView {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.catItemImageBlock {
    margin: 0;
    width: 100%;
    border-radius: 4px;
    float: none;
}

.catItemImageBlock a {
    position: relative;
    display: block;
    padding-top: 56.25%;
    height: 0;
}

.catItemImageBlock img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catItemThongTin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 10px 0;
    width: 100%;
    float: none;
}

.catItemTitle {
    margin: 0;
}

.catItemTitle a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 0.25s;
}

.catItemTitle a:hover {
    color: #333;
}

.catItemExtraFields {
    margin-top: auto;
}

.catItemExtraFields li[class*="group"]:first-child {
    margin: 0;
}

.catItemExtraFieldsValue {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin-top: 10px;
    font-size: 87.5%;
    color: #666;
}

.catItemReadMore {
    margin-top: 10px;
}

.catItemReadMore a {
    display: inline-block;
    padding: 4px 0;
    float: none;
    font-size: 87.5%;
    background: transparent;
}

.catItemReadMore a:hover {
    opacity: 0.9;
}

.catItemReadMore i {
    display: none;
}
