#ja-cottrai {
    width: 23%;
}

#ja-cottrai .workshome-title > * {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;

    font-size: 100%;
    font-weight: 500;
    font-family: inherit;

    background: #0f6338;
}

#ja-cottrai .workshome-title > *::before {
    content: "\f550";
    font-family: fontawesome;
}

#ja-cottrai .workshome-content {
    padding: 0;
    background: #fff;
}

#ja-cottrai .menu > li {
    border: 1px solid #eaeaea;
}

#ja-cottrai .menu li + li {
    border-top: none;
}

#ja-cottrai .menu li {
    position: relative;
}

#ja-cottrai .menu a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding: 0 40px 0 10px;
    font-weight: 600;
    font-size: 87.5%;
}

#ja-cottrai .menu li:hover > a {
    text-shadow: 1px 0 0 #000;
}

#ja-cottrai .menu i {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #777;
    background: #fff;
    cursor: pointer;
    font-size: 87.5%;
}

#ja-cottrai .menu li ul {
    display: block;
    padding-left: 16px;
}

#ja-cottrai .menu li:hover ul {
    position: initial;
    transform: initial;
    width: 100%;
}

#ja-cottrai .row,
#ja-cottrai #itemListLeading {
    grid-template-columns: 1fr;
    gap: 0;
}

#ja-cottrai .blocksp,
#ja-cottrai .itemRow {
    padding: 15px 0;
    border-bottom: 1px solid #dbdbdb;
}

#ja-cottrai .blocksp:last-child,
#ja-cottrai .itemRow:last-child {
    border: none;
}

#ja-cottrai .spacer,
#ja-cottrai .catItemView {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: none;
}

#ja-cottrai .product-anh,
#ja-cottrai .catItemImageBlock {
    flex-shrink: 0;
    width: 22.2%;
}

#ja-cottrai .catItemImageBlock a {
    padding-top: 100%;
}

#ja-cottrai .product-thongtin,
#ja-cottrai .catItemThongTin {
    padding: 0;
}

#ja-cottrai .catItemExtraFields {
    display: none;
}

#ja-cottrai .catItemTitle {
    font-weight: 400;
    text-transform: initial;
    color: #334862;
}

#ja-cottrai .catItemTitle:hover {
    text-shadow: 1px 0 0 #000;
}
