.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature {
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
}

.feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #01345b;
}

.feature__icon img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(98%) sepia(100%) saturate(0%) hue-rotate(342deg) brightness(102%)
        contrast(104%);
}

.feature__title {
    margin-bottom: 8px;
    font-size: 125%;
}
