#ja-chantrang {
    margin-top: 0;
}

.footer2 {
    position: relative;
    padding: 48px 0;
    background: #333;
}

.footer2 .main2 {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#ja-chantrang .ja-workshome + .ja-workshome {
    margin-top: 24px;
}

#ja-chantrang .workshome-content {
    font-size: 87.5%;
    line-height: 2;
}

#ja-chantrang .workshome-title > * {
    border: none;
    color: #fff;
    text-transform: initial;
    font-size: 120%;
}

#ja-chantrang i {
    min-width: 22px;
}

#ja-chantrang .menu a,
#ja-chantrang .catItemTitle a,
#ja-chantrang .product-thongtin-ten a {
    padding: 7px 0;
}

#ja-chantrang .menu a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

#ja-chantrang .menu a:hover {
    opacity: 0.9;
}

#ja-chantrang #itemListLeading,
#ja-chantrang .row {
    grid-template-columns: 1fr;
    gap: 0;
}

#ja-chantrang .catItemThongTin,
#ja-chantrang .product-thongtin {
    padding: 0;
}

#ja-chantrang .catItemTitle,
#ja-chantrang .product-thongtin-ten {
    margin: 0;
    font-size: 100%;
    font-weight: 400;
}

#ja-chantrang .catItemTitle a,
#ja-chantrang .product-thongtin-ten a {
    -webkit-line-clamp: 1;
}

.footer2 .catItemTitle a:hover,
.footer2 .product-thongtin-ten:hover a {
    color: #fff;
    opacity: 0.9;
}

#ja-chantrang .menu ul,
#ja-chantrang .product-anh,
#ja-chantrang .menu a:before,
#ja-chantrang .catItemImageBlock,
#ja-chantrang .catItemExtraFields,
#ja-chantrang .product-thongtin > * {
    display: none;
}

#ja-chantrang .product-thongtin-ten {
    display: block;
}

#ja-chantrang .browse-view .blocksp * {
    text-align: left;
}

#ja-chantrang iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.footer2_2 {
    width: auto;
    padding: 0;
}

.footer3 {
    padding: 10px;
    background: #333;
}

/* Footer1 */
.footer1 {
    padding: 32px 0;
    background: #f1f1f1;
}

.footer1 .main2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

#ja-chantrang .footer1 .workshome-title > * {
    margin-bottom: 10px;
    font-size: 110%;
    font-weight: 600;
    color: #333;
    font-family: inherit;
}

#ja-chantrang .footer1 .menu a,
#ja-chantrang .footer1 .catItemTitle a,
#ja-chantrang .footer1 .product-thongtin-ten a {
    padding: 4px 0;
}

#ja-chantrang .footer1 .menu a:hover,
#ja-chantrang .footer1 .catItemTitle a:hover,
#ja-chantrang .footer1 .product-thongtin-ten a:hover {
    color: #00a455;
    opacity: 1;
}

#ja-chantrang .footer1 .menu a::before,
#ja-chantrang .footer1 .catItemTitle a::before,
#ja-chantrang .footer1 .product-thongtin-ten a::before {
    display: inline-block;
    padding-right: 6px;
    content: "\f105";
    font-family: fontawesome;
}
