.rsform .rsform-block {
    margin-bottom: 16px;
}

.rsform-block:before {
    display: none;
}

.rsform select,
.rsform textarea,
.rsform input[type="text"],
.rsform input[type="password"],
.rsform input[name="mtcaptcha"],
.rsform .rsform-block-guingay input[name="mtcaptcha"] {
    padding: 10px 12px;
    width: 100%;
    height: 46px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: inherit;
    color: #333;
    background: #f1f1f1;
    transition: border 0.25s;
}

.rsform textarea {
    padding: 12px;
    height: auto;
}

.rsform select:focus,
.rsform textarea:focus,
.rsform input[type="text"]:focus,
.rsform input[type="password"]:focus {
    border-color: #00a455;
}

.rsform .rsform-block-guingay {
    margin-bottom: 0;
}

.rsform input[type="button"] {
    padding: 0 12px;
    width: 100%;
    max-width: 120px;
    height: 46px;
    line-height: 48px;
    border-radius: 4px;
    font-family: inherit;
    background: #00a455;
}

.rsform input[type="button"]:hover {
    opacity: 0.9;
    background: #00a455;
}

.mtcaptcha,
.mtcaptcha_1-table {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mtcaptcha {
    align-items: initial;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 16px;
}

.mtcaptcha_1,
.mtcaptcha_1_1,
.mtcaptcha_1_2 {
    padding: 0;
}

.mtcaptcha_1,
.mtcaptcha_2,
input[name="mtcaptcha"] {
    flex: 1;
}

.mtcaptcha_1 img {
    height: 46px;
    border-radius: 4px;
    object-fit: contain;
    background: #f1f1f1;
}

.mtcaptcha_1_2 {
    min-width: 100px;
}

.mtcaptcha_1_3 i:hover {
    color: #000;
}
