.menu-socials .menu {
    display: flex;
    align-items: center;
}

.menu-socials a {
    display: block;
    padding: 0 5px;
}

.menu-socials a:hover {
    opacity: 0.9;
}

.menu-socials img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.menu-socials .image-title,
.menu-socials .menu-desc {
    display: none;
}
