.owl-carousel .owl-nav {
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;
}

.owl-carousel:hover .owl-nav {
    opacity: 1;
    visibility: visible;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 10px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 10px;
}

.owl-carousel .owl-nav button:before {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    background: #00a455;
}
