#Mod377 {
    position: relative;
    cursor: pointer;
}

#Mod377 .workshome-title::before {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    line-height: 1;

    color: #fff;

    content: "\f002";
    font-size: 150%;
    font-family: fontawesome;
}

#Mod377 .workshome-title span {
    display: none;
}

#Mod377 .workshome-content {
    position: fixed;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition-property: opacity, transform;
    transition-duration: 0.25s;
}

#Mod377 .workshome-content.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#Mod377 .module_search {
    width: 0;
    height: 56px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: width 0.25s ease-in-out 0.25s;
}

#Mod377 .workshome-content.active .module_search {
    width: 400px;
}

#Mod377 .button,
#Mod377 .inputbox,
#Mod377 .inputbox::placeholder {
    color: #fff;
}

#Mod377 .inputbox {
    padding-left: 0;
    font-size: 120%;
    transition: 0.25s;
}

#Mod377 .inputbox::placeholder {
    font-size: 87.5%;
    font-weight: 400;
}

#Mod377 .button {
    padding: 14px;
    width: auto;
    background: transparent;
}
