.theme-default .nivo-caption {
    font-family: inherit;
}

.nivo-caption {
    opacity: 1;
    width: 70%;
    top: 0;
    padding: 4% 10%;
    background: linear-gradient(to right, #007fc2, transparent);
}

.nivo-caption h2 {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 350%;
    line-height: 1.3;
}

.nivo-caption h2 strong {
    font-weight: 800;
}

.nivo-caption p {
    padding: 0;
    max-width: 80%;
}

.theme-default .nivo-caption a.btn {
    display: inline-flex !important;
    margin-top: 16px;
    color: #007fc2;
    border: none;
    background: #fff;
}

.theme-default .nivo-directionNav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: #0b4a89;
    border: 2px solid currentColor;
    border-radius: 50%;
    background: transparent;
}

.theme-default .nivo-directionNav a::before {
    display: block;
    content: "\f105";
    font-family: fontawesome;
    text-indent: initial;
}

.theme-default .nivo-prevNav::before {
    rotate: 180deg;
}
