.widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.widget .ja-workshome {
    margin-bottom: 40px;
}

.widget .ja-workshome:last-child {
    margin-bottom: 0;
}

.widget__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #ff3b30;
    background: currentColor;
}

.custom-zalo .widget__btn {
    color: #0068ff;
}

.widget__btn::before,
.widget__btn::after {
    content: "";
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: -1;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
}

.widget__btn::before {
    width: 150%;
    height: 150%;
    background: currentColor;
}

.widget__btn::after {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: 1px solid currentcolor;
    opacity: 0.1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
}

.widget__icon {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

.widget__number {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    padding: 10px 60px 10px 20px;
    border-radius: 999px;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
    color: #fff;
    background: #ff3b30cc;
    transform: translateY(-50%);
}
