#ja-menungang .level0 > li::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}

#ja-menungang .level0 > li.active::before {
    opacity: 1;
    visibility: visible;
    z-index: -1;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
