.header2 {
    position: relative;
    background: #ffd32b;
}
.header2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../../../images/decors/trong-dong.png) center center/cover no-repeat;
}
.header2 .main2 {
    position: relative;
    z-index: 1;
}
