.navbar {
    padding: 20px 0;

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        color: #333;

        &:hover {
            color: var(--primary-color);
            font-weight: 500;
        }
    }
}
