.navbar {
    padding: 20px 0;
    background: #f9f9f9;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    &__title {
        padding: 0 20px;
    }

    &__link {
        display: block;
        padding: 7px 20px;
        font-size: 1.4rem;
        color: #333;

        &:hover {
            font-weight: 500;
        }
    }
}
