/* Base */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: system-ui, sans-serif;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

.main {
    padding: 16px 0;
}

.section-heading {
    margin-bottom: 12px;
    color: #333;
    font-size: 2.8rem;
}
