/* Grid system */
@use "sass:map";
@use "sass:math";

$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$grid-max-widths: (
    xxl: 1170px,
    xl: 960px,
    lg: 720px,
    md: 540px,
    sm: 100%,
);

$grid-columns: 12;
$grid-gutter-width: 30px;
%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

.container {
    max-width: 1370px;
    @extend .container-fluid;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);

    > * {
        flex: 1 0;
        @extend %gutter-padding;
    }
}

@mixin make-columns($infix: null) {
    @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
            max-width: math.div(100%, $grid-columns) * $i;
        }
    }
}

@include make-columns();

@each $breakpoint, $dimension in $grid-breakpoints {
    $max-width: map.get($grid-max-widths, $breakpoint);
    $infix: if($breakpoint, #{-$breakpoint}, "");
    @media (max-width: ($dimension - 0.02)) {
        .container {
            max-width: $max-width;
        }

        @include make-columns($infix);
    }
}
