@mixin make-bg($image: null) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../../../images/bg/#{$image}.jpg) top center / cover no-repeat;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}
